[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wordcloud = "*"
pillow = "*"
wikipedia = "*"
numpy = "*"
pandas = "*"
kaggle = "*"
python-dotenv = "*"
waiting = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
